div {
    margin-left: 30%;
    margin-top: 30%;
    
   
}
html { 
    background: url("TOdoLIST.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.close {
    cursor: pointer;
    position: absolute;
    
}
input[type="checkbox"] {
   float: left;
   position: relative;
   vertical-align: bottom;
   top: 3px;
}

li {
    
    background-color: rgba(0, 0, 0, 0.1);
    width: 200%;
    font-weight: 500 ;
    font-size: 125%;
    
    
}


#txtinp {
    width: 35%;
    font-size: 100%;
    
    
    
}
.clearer {
    padding: 1px 5px 2px 5px;
    width: 20%;
    background: lavender;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
   
}
.addBtn {
    padding: 1px 5px 2px 5px;
    width: 20%;
    background: lavender;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    
  
  
  }

ul {

    list-style-position: outside;
    text-align: left;
    margin-left: 28%;
    float: left;
    color:#FFFFFF;
    overflow-y: auto;
    height: 200px;
}
